Theater_Name { 
     color: white; 
     font-size: 35px;
     background-color : gray; 
     width: 100%; 
} 
 heading { 
     color: green; 
     font-size : 40px; 
     background-color : powderblue; 
} 
 heading,Theater, Theater_Name,Movie_Time,Movie_Name, Movie_Time1, Movie_Time2, Movie_Time3, Movie_Time4, Movie_Time5, Movie_Time6, Movie_Time7 { 
     display : block; 
} 
  Movie_Name{ 
     font-size : 23px; 
     font-weight : bold; 
} 
Movie_Time1
{
font-size: 18px;
line-height: 30px;
}

Movie_Time2
{
font-size: 18px;
line-height: 30px;
}

Movie_Time3
{
font-size: 18px;
line-height: 30px;
}

Movie_Time4
{
font-size: 18px;
line-height: 30px;
}

Movie_Time5
{
font-size: 18px;
line-height: 30px;
}

Movie_Time6
{
font-size: 18px;
line-height: 30px;
}

Movie_Time7
{
font-size: 18px;
line-height: 30px;
}